<a href="https://colab.research.google.com/github/Sreelakshmi0702/SreeLakshmi_INFO5731_Fall2023/blob/main/INFO5731_Assignment_1_Fall_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
def rand(start, end, n):
  result=[]
  for i in range(n):
    result.append(random.randint(start, end))
  return result

n=12
start=1
end=100

list=rand(start, end, n)
print("generate 12 random numbers from 1 to 100: ", list)

list.sort()
print("list of numbers in ascending order: ",list)

list.sort(reverse=True)
print("list of numbers in descending order: ",list)

average=sum(list)/len(list)
print("average of the given list: ", average)

generate 12 random numbers from 1 to 100:  [71, 86, 76, 43, 21, 94, 65, 85, 27, 100, 6, 23]
list of numbers in ascending order:  [6, 21, 23, 27, 43, 65, 71, 76, 85, 86, 94, 100]
list of numbers in descending order:  [100, 94, 86, 85, 76, 71, 65, 43, 27, 23, 21, 6]
average of the given list:  58.083333333333336

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
from string import punctuation
# Your code here
sen1 = str(input("enter sentence 1 :"))
sen2 = str(input("enter sentence 2 :"))

print(sen1.split())
print(sen2.split())

c=[]
for i in sen1.split():
  if(i in sen2):
    c.append(i)
print(c)

sen=" ".join([sen1, sen2])
punctuations = ''' . , ; : ! ? '''
for j in sen.lower():
  if j in punctuations:
    sen=sen.replace(j, " ")
print(sen)

c1, c2, c3, c4, c5= 0, 0, 0, 0, 0
d=['a', 'e', 'i', 'o', 'u']
for sen in (sen1 + sen2):
  for k in sen:
    if(k=='a'):
      c1 +=1
    elif(k=='e'):
      c2 +=1
    elif(k=='i'):
      c3 +=1
    elif(k=='o'):
      c4 +=1
    elif(k=='u'):
      c5 +=1
print('a' + ':' +str(c1)+','+'e' + ':' +str(c2)+ ','+'i' + ':' +str(c3)+ ','+
      'o' + ':' +str(c4)+','+ 'u' + ':' +str(c5))

enter sentence 1 :hello
enter sentence 2 :ow are you
['hello']
['ow', 'are', 'you']
[]
hello ow are you
a:1,e:2,i:0,o:3,u:1

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [3]:
import math
for r in range(1, 10):
  volume=(4/3)*math.pi*(r**3)
  print("radius r:", r ," volume:",volume)

radius r: 1  volume: 4.1887902047863905
radius r: 2  volume: 33.510321638291124
radius r: 3  volume: 113.09733552923254
radius r: 4  volume: 268.082573106329
radius r: 5  volume: 523.5987755982989
radius r: 6  volume: 904.7786842338603
radius r: 7  volume: 1436.7550402417319
radius r: 8  volume: 2144.660584850632
radius r: 9  volume: 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [35]:
# 1Answer
# Your code here
import statistics
import pandas as pd

df = pd.read_csv("/content/Assignment1_denton_housing.csv")
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [36]:
df = df.sort_values(by='year')
occupied_housing_units = df[df['title_field'] == 'Occupied Housing Units'].copy()

occupied_housing_units['Occupied Housing Units Difference'] = occupied_housing_units['value'].diff()

differences = occupied_housing_units[['year', 'Occupied Housing Units Difference']].dropna().astype({'year': int})
differences.sort_values(by='Occupied Housing Units Difference', ascending=True, inplace=True)

for index, row in differences.iterrows():
    start_year = row['year']
    end_year = int(start_year) + 1
    diff = int(row['Occupied Housing Units Difference'])
    print(f"{int(start_year)}-{end_year}: {diff}")

2009-2010: -795
2011-2012: -303
2012-2013: 1404
2013-2014: 1565
2014-2015: 2622
2010-2011: 5091

In [37]:
# 3
unique_years = sorted(list(df['year'].unique()))

# Filtering the DataFrame for occupied housing units and sort by year
occupied_houses = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# Filtering the DataFrame for vacant housing units and sort by year
vacant_houses = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

# Creating a new DataFrame to store the results
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occupied_houses['value'].values

# Calculating the percentage of vacant and occupied houses
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][i] * 100) /
                                            (new_house_df['Vacant House'][i] + new_house_df['Occupied House'][i])
                                            for i in range(len(new_house_df))]

new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][i] * 100) /
                                              (new_house_df['Vacant House'][i] + new_house_df['Occupied House'][i])
                                              for i in range(len(new_house_df))]

# Print the resulting DataFrame
new_house_df

TypeError: ignored

In [38]:
# Filteing the DataFrame to select only 'Total Housing Units', 'Vacant Housing Units', and 'Occupied Housing Units'
filtered_df = df[df['title_field'].isin(['Total Housing Units', 'Vacant Housing Units', 'Occupied Housing Units'])]

# Pivoting the DataFrame to have years as columns and 'title_field' as values
pivot_df = filtered_df.pivot(index='year', columns='title_field', values='value')

# Calculating the total housing units for each year
pivot_df['Total Housing Units'] = pivot_df['Vacant Housing Units'] + pivot_df['Occupied Housing Units']

# Calculating the percentage of vacant and occupied housing units for each year
pivot_df['Vacant Housing Units Percentage'] = (pivot_df['Vacant Housing Units'] / pivot_df['Total Housing Units']) * 100
pivot_df['Occupied Housing Units Percentage'] = (pivot_df['Occupied Housing Units'] / pivot_df['Total Housing Units']) * 100

# Printing the result with proper formatting
result_df = pivot_df[['Vacant Housing Units Percentage', 'Occupied Housing Units Percentage']].reset_index()
result_df.columns = ['Year', 'Vacant Housing Units', 'Occupied Housing Units']

print(result_df.to_string(index=False, na_rep='-----', float_format='%.0f%%'))

 Year  Vacant Housing Units  Occupied Housing Units
 2008                   11%                     89%
 2009                    9%                     91%
 2010                    8%                     92%
 2011                    9%                     91%
 2012                    7%                     93%
 2013                    9%                     91%
 2014                    6%                     94%

Question 4 (3)

In [39]:
pivot_df = df.pivot(index='year', columns='title_field', values='value')

# Calculating the year with the highest number of vacant housing units
year_with_highest_vacant_units = pivot_df['Vacant Housing Units'].idxmax()
highest_vacant_units = pivot_df['Vacant Housing Units'].max()

# Calculating the year with the highest number of occupied housing units
year_with_highest_occupied_units = pivot_df['Occupied Housing Units'].idxmax()
highest_occupied_units = pivot_df['Occupied Housing Units'].max()

# Creating a DataFrame for the results
result_df = pd.DataFrame({
    'Year': [year_with_highest_vacant_units, year_with_highest_occupied_units],
    'Value': [highest_vacant_units, highest_occupied_units]
})

result_df.index = ['Vacant Housing Units', 'Occupied Housing Units']
print(result_df.to_string(index=True, header=True))

                        Year  Value
Vacant Housing Units    2008   4483
Occupied Housing Units  2014  46295

In [40]:
import statistics
total_housing_units = df[df['title_field'] == 'Total Housing Units']['value'].tolist()
harmonic_mean = statistics.harmonic_mean(total_housing_units)
print("Harmonic Mean of Total Housing Units:", harmonic_mean)

Harmonic Mean of Total Housing Units: 44398.28543969185