<a href="https://colab.research.google.com/github/Sreelakshmi0702/SreeLakshmi_INFO5731_Fall2023/blob/main/In_class_exercise/In_class_exercise(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
# write your answer here
L = float(input("Enter the length of the rectangle: "))
W = float(input("Enter the width of the rectangle: "))
A = L * W
print(f"The area of the rectangle is: {A}")

Enter the length of the rectangle: 9
Enter the width of the rectangle: 3
The area of the rectangle is: 27.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
# write your answer here
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
n1 = n1 + n2
n2 = n1 - n2
n1 = n1 - n2
print(f"After swapping, the first number is: {n1}")
print(f"After swapping, the second number is: {n2}")

Enter the first number: 5
Enter the second number: 4
After swapping, the first number is: 4.0
After swapping, the second number is: 5.0

(3) Write a Python program to calculate the length of a string.

In [3]:
# write your answer here
input_string = input("Enter a string: ")
string_length = len(input_string)
print(f"The length of the string is: {string_length}")

Enter a string: sree
The length of the string is: 4

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
# write your answer here
import operator

def stringToDict(str1):
  str_dict = dict()
  for i in str1:
    count = 0
    for s in str1:
      if i == s:
        count += 1
    str_dict[i] = count
  sorted_d = dict( sorted(str_dict.items(), key=operator.itemgetter(1),reverse=True))
  return sorted_d

# Declaring an input string and calling above function
string = "google.com"
print("Expected Result:", stringToDict(string))

Expected Result: {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [5]:
# write your answer here
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([4,2,-8]))

-2

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [6]:
# write your answer here
def change_char(str1):
  char = str1[0]
  length = len(str1)
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [7]:
# write your answer here
number = int(input("Enter a number: "))
factorial = 1
current_number = 1
while current_number <= number:
    factorial *= current_number
    current_number += 1
print(f"The factorial of {number} is: {factorial}")

Enter a number: 10
The factorial of 10 is: 3628800

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [8]:
# write your answer here
input_numbers = input("Enter a list of numbers separated by commas: ")
numbers_list = [int(x) for x in input_numbers.split(',')]
even_numbers_list = [num for num in numbers_list if num % 2 == 0]
print("List of even numbers:", even_numbers_list)

Enter a list of numbers separated by commas: 2,4,7
List of even numbers: [2, 4]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [9]:
# write your answer here
def error(error_desc):
  print(error_desc)
  return
def calculate_S(a, b):
  if b == 0:
    error("Runtime Error: Attempt to divide by zero")
  return 3.14 * (1 + a/b)**3
parameter_a = int(input("Please enter a value for a : "))
parameter_b = int(input("Please enter a value for b : "))
print(" Expected result : ", calculate_S(parameter_a, parameter_b))

Please enter a value for a : 5
Please enter a value for b : 1
 Expected result :  678.24

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [11]:
# write your answer here
def find_largest_and_smallest(numbers_tuple):
    if not numbers_tuple:
        return None, None  # Handle empty tuple case

    largest = smallest = numbers_tuple[0]

    for num in numbers_tuple:
        if num > largest:
            largest = num
        elif num < smallest:
            smallest = num

    return largest, smallest

# Example usage
input_tuple = (5, 18, 3, 9, 12, 4)
largest, smallest = find_largest_and_smallest(input_tuple)
print(f"Largest element: {largest}")
print(f"Smallest element: {smallest}")

Largest element: 18
Smallest element: 3

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [12]:
# write your answer here
input_string = input("Enter a string: ")

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Count the character frequencies
for char in input_string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

# Display the character frequency dictionary
print("Character frequency:")
for char, count in char_frequency.items():
    print(f"'{char}': {count}")

Enter a string: lakshmi
Character frequency:
'l': 1
'a': 1
'k': 1
's': 1
'h': 1
'm': 1
'i': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [13]:
# write your answer here
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

(14) Write a Python program to find maximum and the minimum value in a set.

In [14]:
# write your answer here
seta = set([5, 10, 3, 15, 2, 20])
#Find maximum value
print(max(seta))
#Find minimum value
print(min(seta))

20
2

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [16]:
import random

# List of students
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187',
                           'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558',
                           'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306',
                           'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

# using Shuffle function to shuffle the student list randomly using random module
random.shuffle(student_list_fall_2023)

# creating variables to store group data
group_size = 4
num_groups = len(student_list_fall_2023) // group_size
groups = [[] for _ in range(num_groups)]

# Dividing students into groups
for student in student_list_fall_2023:
    added = False
    while not added:
        for group in groups:
            if len(group) < 6:
                group.append(student)
                added = True
                break

# Printing the groups that are not empty
for i, group in enumerate(groups, start=1):
    if group:
        # Checking if the group is not empty
        print(f"Group {i}:", group)

Group 1: ['sp2075', 'ss2981', 'sd1268', 'ac1770', 'mc1453', 'rm1090']
Group 2: ['htn0086', 'mg1299', 'ab1820', 'sm2747', 'sb1826', 'su0137']
Group 3: ['vm0597', 'bk0413', 'tc0469', 'sb1883', 'sg1638', 'dt0463']
Group 4: ['sc1622', 'pm0658', 'ad1187', 'sr1508', 'dv0310', 'am2346']
Group 5: ['mt0825', 'gm0558', 'vr0331', 'sm2343', 'am2807', 'as2819']
Group 6: ['sd0926', 'sm2364', 'yr0180', 'vkk0022', 'ns0756', 'gp0306']
Group 7: ['mb1296', 'ag1609', 'lp0502', 'lb0582', 'gk0257']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [17]:
# write your answer here
def find_first_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(find_first_duplicate([1, 2, 3, 4, 4, 5]))
print(find_first_duplicate([1, 2, 3, 4]))
print(find_first_duplicate([1, 1, 2, 3, 3, 2, 2]))

4
-1
1

(17) Write a Python program to select all the Sundays of a specified year.

In [18]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year
       dt += timedelta(days = 6 - dt.weekday())
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)

for s in all_sundays(2021):
   print(s)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [19]:
def factorial(n):
    if n < 0:
        return None  # Factorial is not defined for negative numbers
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Get user input for the positive integer
num = int(input("Enter a positive integer: "))

result = factorial(num)
if result is not None:
    print(f"The factorial of {num} is: {result}")
else:
    print("Factorial is not defined for negative numbers.")

Enter a positive integer: 2
The factorial of 2 is: 2

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [20]:
# write your answer here
n = int(input("Enter a positive integer: "))

# Initialize a counter for even numbers
even_count = 0

# Iterate through the numbers from 1 to n
for num in range(1, n + 1):
    if num % 2 == 0:
        even_count += 1
    elif num > n:  # If num becomes greater than n, break the loop
        break

print(f"The count of even numbers from 1 to {n} is: {even_count}")

Enter a positive integer: 4
The count of even numbers from 1 to 4 is: 2

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [21]:
# write your answer here
def count_vowels(input_string):
    vowels = 'aeiouAEIOU'
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

# Get user input for the string
input_string = input("Enter a string: ")

# Call the function and display the result
result = count_vowels(input_string)
print(f"The count of vowels in the string is: {result}")

Enter a string: string
The count of vowels in the string is: 1